@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        <NavMenu />
        <div class="main">
            <div class="content bg-light h-100 mh-100" style="overflow-y: scroll;">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>