
<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href=""> SisVenda </a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="people" Title="Pessoas">
                    <i class="fas fa-address-card"></i> Pessoas
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink Toggled="(isOpen)=> productsSidebarSubItems.Toggle(isOpen)" IsShow="true">
                    <i class="fas fa-boxes"></i> Produtos
                </SidebarLink>
                <SidebarSubItem @ref="productsSidebarSubItems" IsShow="true">
                    <SidebarItem>
                        <SidebarLink To="products">Produtos</SidebarLink>
                    </SidebarItem>
                    <SidebarItem>
                        <SidebarLink To="UnitMeasurement">Unidades de Medida</SidebarLink>
                    </SidebarItem>
                </SidebarSubItem>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink Toggled="(isOpen)=> appsSidebarSubItems.Toggle(isOpen)" IsShow="true">
                    <Icon Name="IconName.Smartphone" Margin="Margin.Is3.FromRight" />Apps
                </SidebarLink>
                <SidebarSubItem @ref="appsSidebarSubItems" IsShow="true">
                    <SidebarItem>
                        <SidebarLink To="">Todo List</SidebarLink>
                    </SidebarItem>
                </SidebarSubItem>
            </SidebarItem>
        </SidebarNavigation>

        <SidebarBrand>
            <LogoutStorage />
        </SidebarBrand>
    </SidebarContent>
</Sidebar>

@code{
    Sidebar sidebar;
    SidebarSubItem productsSidebarSubItems;
    SidebarSubItem appsSidebarSubItems;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }
}