@page "/UnitMeasurement"
@inherits UnitMeasurementIndexBase
@using SisVenda.UI.CQRS.Responses

<Button Color="Color.Success" Outline="true" @onclick="AddNewProduct"><i class="fas fa-plus"></i> Adicionar </Button>
<Button Color="Color.Secondary" @onclick="ToggleFilter"> <i class="fas fa-filter"></i> Filtro </Button>
<br />
<br />
<Form class="@Display" @onsubmit="Get">
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <FieldLabel>Nome</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite o Nome..." @bind-Text="unitMeasurementFilter.Name" />
        </Column>
    </Row>
    <Row Float="Float.Right">
        <Button Type="ButtonType.Submit" Color="Color.Secondary" Margin="Margin.Is2"> Pesquisar </Button>
    </Row>
    <br />
    <br />
</Form>
<Table Bordered="true" Hoverable="true" FullWidth="true">
    <TableHeader ThemeContrast="ThemeContrast.Dark">
        <TableRow>
            <TableHeaderCell>Detalhes</TableHeaderCell>
            <TableHeaderCell>Nome</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (UnitMeasurementResponse response in responseList)
        {
            <TableRow>
                <TableRowCell>
                    <Button Color="Color.Primary" Outline="true" @onclick="(() => EditProduct(response.Id))"> <span class="oi oi-browser" aria-hidden="true"></span> </Button>
                </TableRowCell>
                <TableRowCell>@response.Name</TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>