@page "/UnitMeasurement/Add"
@inherits UnitMeasurementAddBase

<p class="lead">Nova Unidade de Medida</p>
<Form Margin="Margin.Is2" @onsubmit="Save">
    <Row>
        <Column ColumnSize="ColumnSize.Is6.OnTablet.Is6">
            <FieldLabel>Nome</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite o nome..." @bind-Text="command.Name" />
        </Column>
        <Column ColumnSize="ColumnSize.Is6.OnTablet.Is6">
            <FieldLabel>Unidade de Medida</FieldLabel>
            <NumericEdit @bind-Value="command.QuantityLosses" Placeholder="Dígite a Unidade de Medida..."  />
        </Column>
    </Row>
    <Row Float="Float.Right">
        <Button Type="ButtonType.Button" @onclick="Cancel" Color="Color.Danger" Outline="true" Margin="Margin.Is0.FromRight.Is2">Cancelar</Button>
        <Button Type="ButtonType.Submit" Color="Color.Success" Margin="Margin.Is0.FromRight.Is2">Salvar</Button>
    </Row>
</Form>
<br />
<br />
<br />
<Error Show="ErrorAlert" Messages="Errors" />