@inherits LoginBase

<EditForm Model="loginCommand" class="col-12 col-sm-4 card bg-light mx-auto my-auto" OnValidSubmit="Logar" >
    <Heading Size="HeadingSize.Is3">Bem vindo de volta!</Heading>
    <Field>
        <FieldLabel>Usuário</FieldLabel>
        <TextEdit Role="TextRole.Text" @bind-Text="@loginCommand.Username" Placeholder="Digite o usuário" />
    </Field>
    <Field>
        <FieldLabel>Senha</FieldLabel>
        <TextEdit Role="TextRole.Password" @bind-Text="loginCommand.Password" Placeholder="Digite a senha" />
    </Field>
    <Button Color="Color.Primary" Type="ButtonType.Submit" Margin="Margin.Is3.FromBottom"> Login </Button>
</EditForm>