@page "/people"
@inherits PeopleBase

<button class="btn btn-outline-success" @onclick="AddNewPeople"><span class="oi oi-plus" aria-hidden="true"></span> Adicionar </button>
<form class="pt-3">
    <p class="lead">Pesquisar</p>
</form>
