@page "/Products/Add"
@inherits ProductsAddBase

<p class="lead">Novo Cliente / Fornecedor</p>
<Form Margin="Margin.Is2.OnAll" @onsubmit="Save">
  <div class="row">
    <div class="form-group col-12 col-sm-6">
        <label>Nome</label>
        <input type="text" class="form-control" placeholder="Dígite o nome..." @bind-value="command.Name">
    </div>
    <div class="form-group col-12 col-sm-6">
        <label>Descrição</label>
        <input type="text" class="form-control" placeholder="Dígite a Descrição..." @bind-value="command.Description">
    </div>
  </div>
  <div class="float-right">
      <Button Type="ButtonType.Button" @onclick="Cancel" Color="Color.Danger" Outline="true">Cancelar</Button>
      <Button Type="ButtonType.Submit" Color="Color.Success">Salvar</Button>
  </div>
</Form>
<br/><br/><br/>
<Error Show="ErrorAlert" Messages="Errors" />