@page "/Products/Add"
@inherits ProductsAddBase

<p class="lead">Novo Cliente / Fornecedor</p>
<Form Margin="Margin.Is2.OnAll" @onsubmit="Save">
    <Row>
        <Column ColumnSize="ColumnSize.Is6.OnTablet.Is12">
            <FieldLabel>Nome</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite o nome..." @bind-Text="command.Name" />
        </Column>
        <Column ColumnSize="ColumnSize.Is6.OnTablet.Is12">
            <FieldLabel>Descrição</FieldLabel>
            <TextEdit Role="TextRole.Text" Placeholder="Dígite a Descrição..." @bind-Text="command.Description" />
        </Column>
    </Row>
    <Row Float="Float.Right">
        <Button Type="ButtonType.Button" @onclick="Cancel" Color="Color.Danger" Outline="true" Margin="Margin.Is0.FromRight.Is2">Cancelar</Button>
        <Button Type="ButtonType.Submit" Color="Color.Success" Margin="Margin.Is0.FromRight.Is2">Salvar</Button>
    </Row>
</Form>
<br />
<br />
<br />
<Error Show="ErrorAlert" Messages="Errors" />